body
{
    overflow: hidden;
}

a:link
{
    color: rgb(24, 245, 24);
}

a:visited
{
    color: rgb(255, 115, 115);
}

#infobox
{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#perlinCanvas
{
    position:absolute;
    top:0; left:0;
    z-index:-1;
}